<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>
<FilesMatch "\.(png|jpe?g|gif)$"> 
    Satisfy Any 
    Allow from all 
</FilesMatch>


